#01 : Menyertakan Prefix dan Suffix pada Kolom Data Frame
Import Modules

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(pd.__version__)

1.3.5
1.3.5

Mempersiapkan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), 
                  columns = cols)
df

   A  B  C  D  E
0  3  1  5  2  2
1  1  2  5  3  3
2  2  7  3  1  5
3  1  8  8  6  8
4  9  8  5  1  7

Selection dengan operator logika |

In [3]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  3  1  5  2  2
1  1  2  5  3  3
3  1  8  8  6  8

Selection dengan fungsi isin()

In [4]:
df[df['A'].isin([1, 3])]

   A  B  C  D  E
0  3  1  5  2  2
1  1  2  5  3  3
3  1  8  8  6  8

Mengenal Operator negasi ~

In [5]:
df[-df['A'].isin([1, 3])]

   A  B  C  D  E
2  2  7  3  1  5
4  9  8  5  1  7

#03 Konversi tipe data String ke Numerik pada kolom Data Frame
Persiapan Data Frame

In [6]:
data = {'col1':['1', '2', '3', 'teks'],
        'col2':['1', '2', '3', '4']}
        
df = pd.DataFrame(data)
df

   col1 col2
0     1    1
1     2    2
2     3    3
3  teks    4

Mengecek Data

In [7]:
df.dtypes

col1    object
col2    object
dtype: object

Konversi tipe data dengan fungsi astype()

In [8]:
df_x = df.astype({'col2':'int'})
df_x

   col1  col2
0     1     1
1     2     2
2     3     3
3  teks     4

In [9]:
df_x.dtypes

col1    object
col2     int64
dtype: object

Konversi tipe data numerik dengan fungsi to_numeric()

In [10]:
df.apply(pd.to_numeric, errors='coerce')

   col1  col2
0   1.0     1
1   2.0     2
2   3.0     3
3   NaN     4

#4 Pemilihan kolom (columns selection) pada Data Frame berdasarkan tipe data
Persiapan Data Frame

In [12]:
n_rows = 5
n_cols = 2
cols = ['bil_pecahan', 'bil_bulat']

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df['bil_pecahan'] = df['bil_pecahan'].astype('float') 

df.index = pd.util.testing.makeDateIndex(n_rows, freq= 'H') 
df = df.reset_index()

df['teks'] = list('ABCDE')

df

                index  bil_pecahan  bil_bulat teks
0 2000-01-01 00:00:00          7.0          2    A
1 2000-01-01 01:00:00         16.0          1    B
2 2000-01-01 02:00:00          4.0         16    C
3 2000-01-01 03:00:00          6.0         14    D
4 2000-01-01 04:00:00         14.0         18    E

In [13]:
df.dtypes

index          datetime64[ns]
bil_pecahan           float64
bil_bulat               int64
teks                   object
dtype: object

Memilih kolom bertipe data numerik

In [14]:
df.select_dtypes(include='number')

   bil_pecahan  bil_bulat
0          7.0          2
1         16.0          1
2          4.0         16
3          6.0         14
4         14.0         18

Memilih kolom bertipe data float

In [15]:
df.select_dtypes(include='float')

   bil_pecahan
0          7.0
1         16.0
2          4.0
3          6.0
4         14.0

Memilih kolom bertipe data int

In [16]:
df.select_dtypes(include='int')

   bil_bulat
0          2
1          1
2         16
3         14
4         18

Memilih kolom bertipe data string atau object

In [17]:
df.select_dtypes(include='object')

  teks
0    A
1    B
2    C
3    D
4    E

Memilih kolom bertipe data string atau datetime

In [18]:
df.select_dtypes(include='datetime')

                index
0 2000-01-01 00:00:00
1 2000-01-01 01:00:00
2 2000-01-01 02:00:00
3 2000-01-01 03:00:00
4 2000-01-01 04:00:00

Memilih kolom dengan kombinasi tipe data

In [19]:
df.select_dtypes(include=['number', 'object'])

   bil_pecahan  bil_bulat teks
0          7.0          2    A
1         16.0          1    B
2          4.0         16    C
3          6.0         14    D
4         14.0         18    E